<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Diagnosis Request Management</title>
<% include ../partials/header.ejs %>
</head>
<body class="hold-transition skin-fdpsh fixed sidebar-mini" onload="myFunction()"> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
<div id="loader"></div> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
<div class="wrapper">
  <header class="main-header">
    <a href="dashboard" class="logo">
      <span class="logo-mini"><b><%= username[0].account_type.charAt(0).toUpperCase()%></b></span>
      <span class="logo-lg"><b><%= username[0].account_type.charAt(0).toUpperCase() + username[0].account_type.slice(1);%></b></span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="../dist/img/sample prof pic.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs"><%=username[0].name%></span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <img src="../dist/img/sample prof pic.jpg" class="img-circle" alt="User Image">
                <p>
                  <%=username[0].name%> - <%= username[0].account_type.charAt(0).toUpperCase() + username[0].account_type.slice(1);%>
                </p>
              <li class="user-footer">
                <div class="pull-left">
                  <a href="profileManagement" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="../logout" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../dist/img/sample prof pic.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p><%=username[0].name%></p>

        </div>
      </div>

      <ul class="sidebar-menu">
        <li><a href="dashboard"><img src="../icons/medicine.png" alt="dboard" height="20px;" width="20px;"> <span>Dashboard</span></a></li>
        <li class="active"><a href="labRequestManagement" target="_self"><img src="../icons/examination.png" alt="dboard" height="20px;" width="20px;"> <span>Diagnosis Request Management</span></a></li>
        <li><a href="patientManagement"><img src="../icons/patient.png" alt="patient" height="20px;" width="20px;"> <span>Patient Registry</span></a></li>
        <li><a href="profileManagement"><img src="../icons/doctor.png" alt="dboard" height="20px;" width="20px;"> <span>Profile Management</span></a></li>
      </ul>
  </aside>

  <div class="content-wrapper"  id="myDiv1"> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
    <section class="content-header">
      <h1>
        Diagnosis Management
        <small>List of Diagnosis Requests</small>
      </h1>
    </section>

    <section class="content animate-bottom"> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
       <div class="row">
        <div class="col-xs-12">
          <div class="box" style="border-top-color: #3e0901 !important;">
            <div class="box-header">
              <h3 class="box-title">Pending Requests</h3>
            </div>
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr>
                      <th>counter</th>
                      <th>Patient Type</th>
                      <th>Name</th>
                      <th>Date and Time</th>
                      <th>Age</th>
                      <th>Tests</th>
                      <th>Remarks</th>
                      <th>status</th>
                      <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <%for (var i = 0; i < pendingLabRequestSQL.length; i++) {%>
                      <tr>
                          <td><%=i+1%></td>
                          <td><%=pendingLabRequestSQL[i].patient_type%></td>
                          <td><%=pendingLabRequestSQL[i].name%></td>
                          <td><%=moment(new Date(pendingLabRequestSQL[i].timestamp)).format('MMM-DD-YYYY HH:mm')%></td>
                          <td><%=pendingLabRequestSQL[i].age%></td>
                          <td><%=pendingLabRequestSQL[i].type%></td>
                          <td><%=pendingLabRequestSQL[i].remarks%></td>
                          <td><%=pendingLabRequestSQL[i].lab_status.charAt(0).toUpperCase() + pendingLabRequestSQL[i].lab_status.slice(1);%></td>
                          <td align="center">
                            <form action="/laboratorist/labRequestManagement?requestId=<%=pendingLabRequestSQL[i].request_id%>&labrequestPatientName=<%=pendingLabRequestSQL[i].name%>" method="post">
                              <button type="submit" name="sub" value="confirm" class="btn btn-primary btn-sm">Confirm</button>
                              <button type="button" name="button" onClick="actionUpload(<%=pendingLabRequestSQL[i].patient_id%>,<%=JSON.stringify(pendingLabRequestSQL[i].name)%>)" class="btn btn-default btn-sm" data-toggle="modal" data-target="#import">Import image</button>
                            </form>
                          </td>
                      </tr>
                    <%}%>
              </table>
            </div>
          </div>
        </div>
      </div>

        <div class="modal fade" id="import" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Import Image</h4>
              </div>
              <div class="modal-body">
                <form id="dynaAction" method="post" enctype="multipart/form-data" onsubmit="successAlert()">
                  <div class="form-group">
                    <input type="file" name="labIMG" accept="image/*" required>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
                      <button type="submit" name="sub" value="saveIMG" class="btn btn-primary"><i class="fa fa-check"></i> Save </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

     <div class="row">
      <div class="col-xs-12">
        <div class="box" style="border-top-color: #3e0901 !important;">
          <div class="box-header">
            <h3 class="box-title">Confirmed Requests</h3>
          </div>
          <div class="box-body">
            <table id="example2" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>counter</th>
                  <th>Patient Type</th>
                  <th>Name</th>
                  <th>Date and Time</th>
                  <th>Age</th>
                  <th>Tests</th>
                  <th>Remarks</th>
                  <th>status</th>
                </tr>
              </thead>
              <tbody>
                <%for (var i = 0; i < confirmedLabRequestSQL.length; i++) {%>
                  <tr>
                    <td><%=i+1%></td>
                    <td><%=confirmedLabRequestSQL[i].patient_type%></td>
                    <td><%=confirmedLabRequestSQL[i].name%></td>
                    <td><%=moment(new Date(confirmedLabRequestSQL[i].timestamp)).format('MMM-DD-YYYY HH:mm')%></td>
                    <td><%=confirmedLabRequestSQL[i].age%></td>
                    <td><%=confirmedLabRequestSQL[i].type%></td>
                    <td><%=confirmedLabRequestSQL[i].remarks%></td>
                    <td><span class="label label-success"><%=confirmedLabRequestSQL[i].lab_status.charAt(0).toUpperCase() + confirmedLabRequestSQL[i].lab_status.slice(1);%></span></td>
                  </tr>
                <%}%>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<% include ../partials/footer.ejs %>

<script src="/notif-lab.js"></script>
<script type="text/javascript">
$(function () {
  $("#example1").DataTable();
  $('#example2').DataTable();
});
function actionUpload(i,name){
 $('#upload').show();
 document.getElementById('dynaAction').action = '/laboratorist/labRequestManagement?pId='+i+'&pName='+name+'';
}
</script>
</body>
</html>
