<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bed Management</title>
    <% include ../partials/header.ejs %>
  </head>
  <body class="hold-transition skin-fdpsh fixed sidebar-mini" onload="myFunction()"> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
    <div id="loader"></div> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
  <div class="wrapper">
    <header class="main-header">
      <a href="dashboard" class="logo">
        <span class="logo-mini"><b><%= username[0].account_type.charAt(0).toUpperCase()%></b></span>
        <span class="logo-lg"><b><%= username[0].account_type.charAt(0).toUpperCase() + username[0].account_type.slice(1);%></b></span>
      </a>
      <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="../dist/img/avatar2.png" class="user-image" alt="User Image">
                <span class="hidden-xs"><%= username[0].name %></span>
              </a>
              <ul class="dropdown-menu">
                <li class="user-header">
                  <img src="../dist/img/avatar2.png" class="img-circle" alt="User Image">
                  <p>
                    <%= username[0].name %> - <%= username[0].account_type.charAt(0).toUpperCase() + username[0].account_type.slice(1);%>
                  </p>
                </li>
                <li class="user-footer">
                  <div class="pull-left">
                    <a href="profileManagement" class="btn btn-default btn-flat">Profile</a>
                  </div>
                  <div class="pull-right">
                    <a href="../logout" class="btn btn-default btn-flat">Sign out</a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>

  <div class="content-wrapper"  id="myDiv1"> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
    <section class="content-header">
      <h1>
        Bed Management
        <small>List of Beds</small>
      </h1>
    </section>

    <section class="content animate-bottom"> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
       <div class="row">
        <div class="col-xs-12">
          <div class="box" style="border-top-color: #3e0901 !important;">
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>Bed Number</th>
                    <th>Patient Type</th>
                    <th>Patient Name</th>
                    <th>Confinement Date</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <%for(var i=0; i < bedDetails.length; i++){%>
                <tr>
                  <td <%if(bedDetails[i].bed_id >= 47) {%>
                    style="color:blue; font-weight: bold;"
                    <%}%>
                    <%if(bedDetails[i].status == 'Unoccupied'){%>
                    style="color:green; font-weight: bold;"
                  <%} else if(bedDetails[i].status == 'unavailable'){%> style="color:orange; font-weight: bold;"
                  <%} else {%> style="color:red; font-weight: bold;"
                  <%}%>><%= bedDetails[i].status.charAt(0).toUpperCase() + bedDetails[i].status.slice(1);%> </td>
                  <td><%= bedDetails[i].bed_id%></td>
                  <td><%= bedDetails[i].patient_type%></td>
                  <td><%= bedDetails[i].name%></td>
                  <%
                  var DT = moment(bedDetails[i].allotment_timestamp).format('MMMM DD YYYY hh:mm A');
                  if(DT == 'Invalid date'){%>
                    <td></td>
                  <%} else {%>
                    <td><%= DT%></td>
                  <%}%>
                  <td>
                  <form action="/nurse/bedManagement?bed=<%= bedDetails[i].bed_id%>" method="POST">
                    <%if(bedDetails[i].status == 'Unoccupied'){%>
                          <button type="submit" data-toggle="confirmation" data-popout="true" data-singleton="true" class="btn btn-default btn-sm" name="sub" value="setUnavailable"><i class="fa fa-fw fa-times-circle"></i> Set Unavailable</button>
                        <%} else {%>
                          <button type="submit" data-toggle="confirmation" data-popout="true" data-singleton="true" class="btn btn-default btn-sm" name="sub" value="setAvailable" <% if(bedDetails[i].status == 'occupied'){%>disabled<%} else {} %>><i class="fa fa-fw fa-times-circle"></i> Set Available</button>
                        <%}%>
                  </form>
                  </td>
                </tr>
                <%}%>
              </table>
            </div>
          </div>
        </div>
           
        <div class="col-xs-12">
          <div class="box" style="border-top-color: #3e0901 !important;">
            <div class="box-header">
              <h3 class="box-title">Quarterly Bed Report</h3><small> As of
                <%  var date = new Date();     
                    var quarter =  parseInt(date.getMonth() / 3 ) + 1 ;
                
                    var quarterMonth;
                
                    if(quarter == 1){
                        quarterMonth = "January - March";
                    } else if(quarter == 2){
                        quarterMonth = "April - June";
                    } else if(quarter == 3){
                        quarterMonth = "July - September";
                    } else if(quarter == 4){
                        quarterMonth = "October - December";
                    }
                
                %> <%= quarterMonth%>
                </small>
            </div>
            <div class="box-body">
              <table id="example2" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Bed Number</th>
                    <th>Patient Type</th>
                    <th>Patient Name</th>
                    <th>Confinement Date</th>
                  </tr>
                </thead>
                <%for(var i=0; i < patientLogs.length; i++){%>
                <tr>
                  <td><%= i+1%></td>
                  <td><%= patientLogs[i].bed_num%></td>
                  <td><%= patientLogs[i].patient_type%></td>
                  <td><%= patientLogs[i].name%></td>
                  <%
                  var DT = moment(patientLogs[i].allotment_timestamp).format('MMMM DD YYYY hh:mm A');
                  if(DT == 'Invalid date'){%>
                    <td></td>
                  <%} else {%>
                    <td><%= DT%></td>
                  <%}%>
                </tr>
                <%}%>
              </table>
            </div>
          </div>
        </div>
           
      </div>
    </section>

    <aside class="main-sidebar">
      <section class="sidebar">
        <div class="user-panel">
          <div class="pull-left image">
            <img src="../dist/img/avatar2.png" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
            <p><%= username[0].name %></p>

          </div>
        </div>

      <ul class="sidebar-menu">
        <li><a href="dashboard"><img src="../icons/medicine.png" alt="dboard" height="20px;" width="20px;"> <span>Dashboard</span></a></li>
        <li><a href="patientManagement"><img src="../icons/patient.png" alt="patient" height="20px;" width="20px;"> <span>Patient Registry</span></a></li>
        <li class="active"><a href="bedManagement" target="_self"><img src="../icons/hospital-bed.png" alt="bed" height="20px;" width="20px;"> <span>Bed Management</span></a></li>
        <li><a href="profileManagement"><img src="../icons/doctor.png" alt="doctor" height="20px;" width="20px;"> <span>Profile Management</span></a></li>
        </ul>
      </section>
    </aside>
  </div>
</body>

  <script src="/timeout.js"></script>
  <% include ../partials/footer.ejs %>
      <script>
      idleTimer();
        $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
        "searching": false,
        dom: 'Bfrtip',
        buttons: [
            'print',
            {
                extend: 'excel',
                title: 'Bed Report for <%=quarterMonth%>'
            },
            {
                extend: 'pdf',
                title: 'Bed Report for <%=quarterMonth%>'
            }
        ]
    });
        });

        function discharge(bedID){
           document.getElementById('dis').value = bedID;
        }

        $('[data-toggle=confirmation]').confirmation({
          rootSelector: '[data-toggle=confirmation]',
          // other options
        });

  </script>

</html>
