<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dashboard</title>
  <% include ../partials/header.ejs %>
</head>
  <body class="hold-transition skin-fdpsh fixed sidebar-mini" onload="myFunction()"> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
    <div id="loader"></div> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
<div class="wrapper">
  <header class="main-header">
    <a href="dashboard" class="logo">
      <span class="logo-mini"><b><%= username[0].account_type.charAt(0).toUpperCase()%></b></span>
      <span class="logo-lg"><b><%= username[0].account_type.charAt(0).toUpperCase() + username[0].account_type.slice(1);%></b></span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="../dist/img/avatar2.png" class="user-image" alt="User Image">
              <span class="hidden-xs"><%= username[0].name %></span>
            </a>

            <ul class="dropdown-menu">
              <li class="user-header">
                <img src="../dist/img/avatar2.png" class="img-circle" alt="User Image">
                <p>
                  <%= username[0].name %> - <%= username[0].account_type.charAt(0).toUpperCase() + username[0].account_type.slice(1);%>
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <a href="profileManagement" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="../logout" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../dist/img/avatar2.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p><%= username[0].name %></p>

        </div>
      </div>

    <ul class="sidebar-menu">
        <li class="active"><a href="dashboard"><img src="../icons/medicine.png" alt="dboard" height="20px;" width="20px;"> <span>Dashboard</span></a></li>
        <li><a href="patientManagement" target="_self"><img src="../icons/patient.png" alt="patient" height="20px;" width="20px;"> <span>Patient Management</span></a></li>
        <li><a href="bedManagement"><img src="../icons/hospital-bed.png" alt="bed" height="20px;" width="20px;"> <span>Bed Management</span></a></li>
        <li><a href="profileManagement"><img src="../icons/doctor.png" alt="doctor" height="20px;" width="20px;"> <span>Profile Management</span></a></li>
    </ul>
    </section>
  </aside>

  <div class="content-wrapper"  id="myDiv1" style="background:white;"> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
    <section class="content-header"></section>
    <section class="content animate-bottom"> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3><%= counts[0].totalRegisteredPatients%></h3>
              <p>Total Registered Patients</p>
            </div>
            <div class="icon">
              <i class="ion ion-person"></i>
            </div>
            <a href="patientManagement" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-green">
            <div class="inner">
              <h3><%= counts[0].currentlyAdmitted%></h3>
              <p>Currently Admitted</p>
            </div>
            <div class="icon">
              <i class="ion ion-person"></i>
            </div>
            <a href="bedManagement" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3><%= counts[0].OPD%></h3>
              <p>OPD</p>
            </div>
            <div class="icon">
              <i class="ion ion-person"></i>
            </div>
            <a onclick="OPD()" class="small-box-footer" data-toggle="modal" data-target="#opdmodal">More info <i class="fa fa-arrow-circle-right" data-target="#opdmodal"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-blue">
            <div class="inner">
              <h3><%= counts[0].WARD%></h3>
              <p>Ward</p>
            </div>
            <div class="icon">
              <i class="ion ion-person"></i>
            </div>
              <a onclick="WARD()" class="small-box-footer" data-toggle="modal" data-target="#myModal3">More info <i class="fa fa-arrow-circle-right" data-target="#myModal3"></i></a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="box" style="border-top-color: #3e0901 !important;">
          <center>
            <div class="box-header">
              <h3 class="box-title">Quick Access</h3>
            </div>
            <div class="box-body">
              <a onclick="showAdd()" class="btn btn-app" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-plus" data-target="#myModal"></i> Register Patient
              </a>
              <%if(counts[0].totalRegisteredPatients){%>
                <a onclick="showAccessment()" class="btn btn-app" data-toggle="modal" data-target="#myModal1">
                  <i class="fa fa-edit" data-target="#myModal1"></i> OPD Patient
                </a>
              <%} if(counts[0].totalRegisteredPatients) {%>
                <a onclick="showAccessment()" class="btn btn-app" data-toggle="modal" data-target="#bedmodal">
                  <i class="fa fa-heartbeat" data-target="#myModal1"></i> ER Patient
                </a>
              <%}%>
            </div>
          </center>
          </div>
      </div>

      <div class="row">
        <section class="col-lg-7 connectedSortable">
          <div class="box" style="border-top-color: #3e0901 !important;">
            <div class="box-header with-border">
              <h3 class="box-title">Patient Count</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="areaChart" style="height:250px"></canvas>
              </div>
            </div>
          </div>

          <div class="box" style="border-top-color: #3e0901 !important;">
            <div class="box-header">
              <i class="ion ion-clipboard"></i>
              <h3 class="box-title">To Do List</h3>
            </div>

            <div class="box-body">
              <table id="example3" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Date</th>
                     <th></th>
                  </tr>
                </thead>
                <%for(var i=0; i < todoList.length; i++){%>
                  <%if(new Date() < new Date(todoList[i].date)) {%>
                    <tr>
                      <td> <span class="text"><%= todoList[i].description%></span></td>
                      <td> <%if(todoList[i].status == 'general'){%>
                              <small class="label label-info"><i class="fa fa-clock-o"></i><%= moment(new Date(todoList[i].date)).format('MMM-DD-YYYY HH:mm')%></small>
                            <%} else{%>
                              <small class="label label-danger"><i class="fa fa-clock-o"></i><%= moment(new Date(todoList[i].date)).format('MMM-DD-YYYY HH:mm')%></small>
                            <%}%>
                      </td>
                      <td><form action="/nurse/dashboard?tId=<%= todoList[i].todo_id%>" method="POST">
                            <button type="submit" name="sub" value="delToDo" class="btn btn-default">Delete</button>
                          </form>
                      </td>
                    </tr>
                  <%}%>
                <%}%>
              </table>
            </div>

            <div class="box-footer clearfix no-border">
              <button type="button" name="button" onclick="showTodo()" class="btn btn-default pull-right" data-toggle="modal" data-target="#myModal4"><i class="fa fa-plus" data-target="#myModal4"></i> Add item</button>
            </div>
          </div>
        </section>

        <section class="col-lg-5 connectedSortable">
            <div class="box-header">
              <div class="pull-right box-tools">
              </div>
              <div class="box" style="border-top-color: #3e0901 !important;">
            <div class="box-header with-border">
              <i class="fa fa-bar-chart-o"></i>
              <h3 class="box-title">Patient Chart</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div id="donut-chart1" style="height: 350px;"></div>

            </div>
          </div>
        </div>
        </section>
      </div>


      <style>
        .parsley-error{
          border-color: red;
        }
      </style>

      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Add New Patient</h4>
              <small>Fields with asterisks (*) are required.</small>
            </div>
              <form method='POST' id='modal2'  style="display:none;" onsubmit="showSuccess()" class="form-group" data-parsley-validate=""  data-parsley-trigger="keyup">
            <div class="modal-body">

                <div class="form-group">
                  <label for="name" class="col-sm-2 control-label">Full Name*</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name" data-parsley-required data-parsley-pattern="/^[A-Za-z\s .]+$/" data-parsley-validation-threshold="1">
                  </div>
                </div>
                <br>
                <br>

                <div class="form group">
                  <label for="type" class="col-sm-2 control-label" disabled>Patient Type *</label>
                    <div class="col-sm-4">
                      <select class="form-control" name="type" required>
                        <option value="" selected disabled hidden>Choose...</option>
                        <option value="Cadet">Cadet</option>
                        <option value="Military Officer">Miltary Officer</option>
                        <option value="Military Dependent">Miltary Dependent</option>
                        <option value="Civilian">Civilian Employee</option>
                        <option value="Authorized Civilian">Authorized Civilian</option>
                      </select>
                    </div>
                    <label for="SN" class="col-sm-2 control-label">Serial Number</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="SN" name="SN" data-parsley-pattern="/^[0-9A-Za-z\s -]+$/" data-parsley-validation-threshold="1">
                    </div>
                  </div>
                  <br>
                  <br>
                  <br>

                  <div class="form-group">
                    <label for="rankSN" class="col-sm-2 control-label">Rank</label>
                    <div class="col-xs-4">
                      <select class="form-control select2" id="rankSN" name="rank" style="width: 100%;">
                        <option value="" selected hidden>Choose...</option>
                        <%for(var i = 0; i < rank.length; i++){%>
                            <option value="<%= rank[i].rank_name%>"><%= rank[i].rank_name%></option>
                        <%}%>
                      </select>
                    </div>
                    <label for="unit" class="col-sm-2 control-label">Unit</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="unit" name="unit" data-parsley-pattern="/^[0-9A-Za-z\s -]+$/" data-parsley-validation-threshold="1">
                    </div>
                  </div>
                  <br>
                  <br>

                  <div class="form-group">
                    <label for="inputBirthdate" class="col-sm-2 control-label">Birthdate*</label>
                    <div class="col-sm-4">
                      <input type="date"  class="form-control datepicker" name="birth" id="birth" data-parsley-required/>
                    </div>
                    <label for="gender" class="col-sm-2 control-label" disabled>Gender*</label>
                    <div class="col-sm-4">
                      <select class="form-control" name="gender" required>
                        <option value=""> </option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                      </select>
                    </div>
                  </div>
                  <br>
                  <br>

                  <div class="form-group">
                    <label for="status" class="col-sm-2 control-label">Civil Status*</label>
                    <div class="col-sm-4">
                      <select class="form-control" name="status" required>
                        <option value="" selected disabled hidden>Choose...</option>
                        <option value="Single">Single</option>
                        <option value="Married">Married</option>
                      </select>
                    </div>
                    <label for="religion" class="col-sm-2 control-label">Religion</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="religion" name="religion" data-parsley-pattern="/^[A-Za-z ]+$/" data-parsley-validation-threshold="1">
                    </div>
                  </div>
                  <br>
                  <br>

                  <div class="form-group">
                    <label for="address" class="col-sm-2 control-label">Address*</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="address" name="address" data-parsley-required data-parsley-pattern="/^[0-9A-Za-z\s -/.]+$/" data-parsley-validation-threshold="1">
                    </div>
                  </div>
                  <br>
                  <br>

                  <div class="form-group">
                    <label for="father" class="col-sm-2 control-label">Name of Father*</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="father" name="father" data-parsley-required data-parsley-pattern="/^[A-Za-z .]+$/" data-parsley-validation-threshold="1">
                    </div>
                    <label for="fatherO" class="col-sm-2 control-label">Occupation</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="fatherO" name="fatherO" data-parsley-pattern="/^[0-9A-Za-z -/,]+$/" data-parsley-validation-threshold="1">
                    </div>
                  </div>
                  <br>
                  <br>

                  <div class="form-group">
                    <label for="mother" class="col-sm-2 control-label">Name of Mother*</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="mother" name="mother" data-parsley-required data-parsley-pattern="/^[A-Za-z .]+$/" data-parsley-validation-threshold="1">
                    </div>
                    <label for="motherO" class="col-sm-2 control-label">Occupation</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="motherO" name="motherO" data-parsley-pattern="/^[0-9A-Za-z -/,]+$/" data-parsley-validation-threshold="1">
                    </div>
                  </div>
                  <br>
                  <br>

                  <div class="form-group">
                    <label for="blood" class="col-sm-2 control-label">Blood Type</label>
                    <div class="col-sm-4">
                      <select class="form-control" name="blood">
                        <option value=" "> </option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="AB">AB</option>
                        <option value="O">O</option>
                      </select>
                    </div>
                    <label for="bh" class="col-sm-2 control-label">Birth History</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="bh" name="bh" data-parsley-pattern="/^[A-Za-z ]+$/" data-parsley-validation-threshold="1">
                    </div>
                  </div>
                  <br>
                  <br>

                  <div class="form-group">
                    <label for="allergies" class="col-sm-2 control-label">Allergies</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="allergies" name="allergies"data-parsley-pattern="/^[A-Za-z &/,]+$/" data-parsley-validation-threshold="1">
                    </div>
                  </div>
                  <br>
                  <br>

                  <div class="form-group">
                    <label for="fhName" class="col-sm-2 control-label">Family History</label>
                    <div class="col-sm-8">
                      <select id="fhName" class="form-control">
                        <option value="" selected disabled hidden>Choose...</option>
                        <%for(var i=1; i <fh.length; i++){%>
                          <option value="<%= fh[i].name%>"><%= fh[i].name%></option>
                        <%}%>
                      </select>
                      <h5 style="opacity:0.7;" id="fhRes" name="family_history"></h5>
                      <input type="text" id="family_history" name="family_history" style="display:none;">
                    </div>
                    <button class="btn btn-default btn-sm" type="button"  onclick="fhResult()"><i class="fa fa-plus"></i> Add</button>
                  </div>
                  <br>
                  <br>

                  <div class="form-group">
                    <label for="immuName" class="col-sm-2 control-label">Immunization</label>
                    <div class="col-xs-4">
                      <select class="form-control" id="immuName" onchange="showDate()">
                        <option value="" selected disabled hidden>Choose...</option>
                        <%for(var i=1; i <immu.length; i++){%>
                          <option value="<%= immu[i].name%>"><%= immu[i].name%></option>
                        <%}%>
                      </select>
                      <h5 style="opacity:0.7;" id="immuRes"></h5>
                    </div>
                    <div class="col-xs-4">
                      <input class="form-control datepicker" type="date" id="immuDate">
                      <input type="text" id="immunization" name="immunization" style="display:none;">
                    </div>
                    <button class="btn btn-default btn-sm" type="button" id="addMore" onclick="immuResult()"><i class="fa fa-plus"></i> Add</button>
                  </div>
                  <br>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="resetForm()"><i class="fa fa-refresh"></i> Reset</button>
                    <button type="submit" class="btn btn-primary" name="sub" onclick="validateRegistration()" value="add" value="validate"><i class="fa fa-save"></i> Save</button>
                  </div>
                </form>
              </div>
          </div>
        </div>
      </div>
      <!------------------------------------------------------------------------------------------ /Modal-->

      <!---------------------------------------------------------------------------------------------- Modal of out patient ---------->
        <div class="modal fade" id="myModal1" role="dialog" aria-labelledby="myModalLabel1" style="overflow:hidden;">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel1">New Outpatient</h4>
                <small>*Register new patient if patient is not found</small>
              </div>
              <div class="modal-body">
                <form id="assessment" method="post" class="form-horizontal"  data-parsley-validate=""  data-parsley-trigger="keyup">
                  <!-- PATIENT !! -->
                  <div class="form-group">
                    <label for="inputPatientType" class="col-sm-2 control-label">Select Patient*</label>
                      <div class="col-sm-10">
                        <select name="assessmentPatient" class="form-control select2" style="width: 100%;">
                          <%for(var i = 0; i < availablePatientOPD.length; i++){%>
                            <option  value="<%= availablePatientOPD[i].patient_id%>,<%= availablePatientOPD[i].name%>"><%= availablePatientOPD[i].name%></option>
                          <%}%>
                        </select>
                      </div>
                  </div>

                  <div class="form-group">
                    <label for="BP" class="col-sm-2 control-label">BP(mmHg)</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="BP" name="BP" data-parsley-pattern="/^\d{1,3}\/\d{1,3}$/" data-parsley-validation-threshold="1" data-parsley-required>
                    </div>
                    <label for="CR" class="col-sm-2 control-label">CR</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="CR" name="CR" data-parsley-type="number" data-parsley-validation-threshold="1" data-parsley-required >
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="PR" class="col-sm-2 control-label">PR(bpm)</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="PR" name="PR" data-parsley-type="number" data-parsley-validation-threshold="1" data-parsley-required>
                    </div>
                    <label for="RR" class="col-sm-2 control-label">RR(bpm)</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="RR" name="RR" data-parsley-type="number" data-parsley-validation-threshold="1" data-parsley-required>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="temperature" class="col-sm-2 control-label">Temperature(°C)</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="temperature" name="temperature" data-parsley-type="number" data-parsley-validation-threshold="1" data-parsley-required >
                    </div>
                    <label for="Wt" class="col-sm-2 control-label">Weight(kg)</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="Wt" name="Wt" data-parsley-type="number" data-parsley-validation-threshold="1" data-parsley-required>
                    </div>
                  </div>

                  <div class="form-group">
                      <label for="assessment" class="col-sm-2 control-label">Assessment*</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="assessment" name="assessment" data-parsley-required data-parsley-validation-threshold="1">
                      </div>
                  </div>

                  <div class="form-group">
                    <label for="assessmentDoctor" class="col-sm-2 control-label">Select Doctor*</label>
                      <div class="col-sm-10">
                        <select name="assessmentDoctor" class="form-control select2" style="width: 100%;">
                          <%for(var i = 0; i < doctorList.length; i++){%>
                            <option value="<%= doctorList[i].account_id%>"><%= doctorList[i].name%></option>
                          <%}%>
                        </select>
                      </div>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
                    <button type="submit" class="btn btn-primary" name="sub" value="assessment" onclick="validateOPD()"><i class="fa fa-check"></i> Confirm</button>
                  </div>

                </form>
              </div>

            </div>
          </div>
        </div>
        <!------------------------------------------------------------------------------------------ /Modal-->

        <!---------------------------------------------------------------------------------------------- Modal of Allocating Bed ---------->
              <div class="modal fade" id="bedmodal" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Bed Allotment</h4>
                      <small>*Register new patient if patient is not found</small>
                    </div>
                      <form class="form-horizontal" method="post" id="bed">
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="inputBedNumber" class="col-sm-2 control-label" data-parsley-required>Bed Number</label>
                        <div class="col-sm-10">
                          <select name="bed" class="form-control select2" style="width: 100%;">
                              <%for(var i = 0; i < bed.length; i++){%>
                                <%if (bed[i].bed_id < 47) {%>
                                  <option value="<%= bed[i].bed_id%>"><%= bed[i].bed_id%></option>
                                <%} else {%>
                                  <optgroup label = 'Isolated Ward'>
                                    <option value="<%= bed[i].bed_id%>"><%= bed[i].bed_id%></option>
                                  </optgroup>
                                <%}%>
                              <%}%>
                          </select>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="inputPatientType" class="col-sm-2 control-label">Select Patient</label>
                          <div class="col-sm-10">
                            <select name="bedName" class="form-control select1" style="width: 100%;" data-parsley-required>
                              <%for(var i = 0; i < availablePatientOPD.length; i++){%>
                                <option  value="<%= availablePatientOPD[i].patient_id%>,<%= availablePatientOPD[i].name%>"><%= availablePatientOPD[i].name%></option>
                              <%}%>
                            </select>
                          </div>
                      </div>

                      <div class="form-group">
                        <label for="inputPatientType" class="col-sm-2 control-label">Doctor</label>
                          <div class="col-sm-10">
                            <select name="bedDoc" class="form-control select1" style="width: 100%;" data-parsley-required>
                              <%for(var i = 0; i < doctorList.length; i++){%>
                                <option value="<%= doctorList[i].account_id%>"><%= doctorList[i].name%></option>
                              <%}%>
                            </select>
                          </div>
                      </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
                      <button type="submit" name="sub" value="bed" class="btn btn-primary"><i class="fa fa-check"></i> Confirm</button>
                    </div>
                  </form>
                  </div>
                </div>
              </div>
        <!------------------------------------------------------------------------------------------ /Modal-->

        <!---------------------------------------------------------------------------------------------- Modal of OPD ---------->
        <div class="modal fade" id="opdmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" style="overflow:hidden;">
          <div class="modal-dialog" role="document" style="overflow-y: initial !important;">
            <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">OPD Logs (Jan - Mar)</h4>
                  </div>
                  <div class="modal-body" id="ShowOpd" style="display:none;max-height: calc(100vh - 200px);overflow-y: auto;">
                <section class="content">
                  <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Date and Time of Admission</th>
                      <th>Patient Name</th>
                    </tr>
                  </thead>

                    <%for (var i = 0; i < whoOPD.length; i++) { %>
                      <tr>
                        <td><%= moment(new Date(whoOPD[i].time)).format('MMM-DD-YYYY HH:mm')%></td>
                        <td><%= whoOPD[i].name%></td>
                      </tr>
                    <%}%>
                  </table>
                </section>
              </div>

            </div>
          </div>
        </div>
        <!------------------------------------------------------------------------------------------ /Modal-->

        <!---------------------------------------------------------------------------------------------- Modal of WARD ---------->
        <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" style="overflow:hidden;">
          <div class="modal-dialog" role="document" style="overflow-y: initial !important;">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Ward Logs</h4>
              </div>
                <div class="modal-body" id="ShowWard" style="display:none;max-height: calc(100vh - 200px);overflow-y: auto;">
                <section class="content">
                  <table id="example2" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Date and Time of Confinement</th>
                      <th>Patient Name</th>
                    </tr>
                  </thead>
                    <%for (var i = 0; i < whoWARD.length; i++) { %>
                      <tr>
                        <td><%= moment(new Date(whoWARD[i].time)).format('MMM-DD-YYYY HH:mm')%></td>
                        <td><%= whoWARD[i].name%></td>
                      </tr>
                    <%}%>
                  </table>
                </section>
                </div>
              </div>
            </div>
          </div>
      <!------------------------------------------------------------------------------------------ /Modal-->

      <!---------------------------------------------------------------------------------------------- Modal of To Do List ---------->
      <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" style="overflow:hidden;">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel1">To Do List</h4>
            </div>

            <div class="modal-body">
              <form method="POST" onsubmit="parseDateNTime()" class="form-horizontal" id="showTodo" data-parsley-validate=""  data-parsley-trigger="keyup">
                  <div class="form-group">
                    <label for="description" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="description" name="description" data-parsley-required>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="todoStatus" class="col-sm-2 control-label">Status</label>
                    <div class="col-sm-3">
                      <select name="todoStatus" class="form-control" data-parsley-required>
                        <option value="general">General</option>
                        <option value="urgent">Urgent</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="dateNtime" class="col-sm-2 control-label">Date and Time</label>
                    <div class="col-sm-5">
                      <input type="datetime-local" name="dateNtime" class="form-control" data-parsley-required>
                    </div>
                  </div>

                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" name="sub" value="addTodo"><i class="fa fa-plus"></i> Add</button>
                  </div>

              </form>
            </div>
            </div>
          </div>
        </div>
      <!------------------------------------------------------------------------------------------ /Modal-->

    </section>
  </div>
<% include ../partials/footer.ejs %>
      </div>
</body>
</html>
<script src="/timeout.js"></script>
<script type="text/javascript">
idleTimer();
  function validateRegistration() {
    $('#modal2').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
      $('.bs-callout-info').toggleClass('hidden', !ok);
      $('.bs-callout-warning').toggleClass('hidden', ok);
    })
  };

  function validateOPD() {
    $('#assessment').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
      $('.bs-callout-info').toggleClass('hidden', !ok);
      $('.bs-callout-warning').toggleClass('hidden', ok);
    })
  };
});
</script>
<script>

  $(function () {
    /*
     * DONUT CHART
     * -----------
     */
    var data = [], totalPoints = 100;
    var donutData = [
      {
        label: "Military Dependent",
        data: <%= chart[0].military_dependent%>,
        color: "#228B22"
      },
      {
        label: "Civilian",
        data: <%= chart[0].civilian%>,
        color: " #FF8C00"
      },
      {
        label: "Military Officer",
        data: <%= chart[0].military_officer%>,
        color: "#004d99"
      },
      {
        label: "Cadet",
        data: <%= chart[0].cadet%>,
        color: "gray"
      },
      {
        label: "Authorized Civilian",
        data: <%= chart[0].authorized_civilian%>,
        color: " #1E90FF"
      }
      ];
      $.plot("#donut-chart1", donutData, {
        series: {
          pie: {
            show: true,
            radius: 1,
            innerRadius: 0,
            label: {
              show: true,
              radius: 2 / 3,
              formatter: labelFormatter,
              threshold: 0.1,
            }

          }
        },
        legend: {
          show: true
        }
    });
    /*
     * END DONUT CHART
     */

    var areaChartCanvas = $("#areaChart").get(0).getContext("2d");
    var areaChart = new Chart(areaChartCanvas);

    var areaChartData = {
      labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September" ,"October", "November", "December"],
      datasets: [
        {
          label: "Patient",
          fillColor: " #da3e3e",
          strokeColor: "  #B22222",
          pointColor: "#3b8bba",
          pointStrokeColor: "rgba(60,141,188,1)",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(60,141,188,1)",
          data: [<%-JSON.stringify(monthlyPatientCount[0].JAN)%>,
            <%-JSON.stringify(monthlyPatientCount[0].FEB)%>,
            <%-JSON.stringify(monthlyPatientCount[0].MARCH)%>,
            <%-JSON.stringify(monthlyPatientCount[0].APRIL)%>,
            <%-JSON.stringify(monthlyPatientCount[0].MAY)%>,
            <%-JSON.stringify(monthlyPatientCount[0].JUNE)%>,
            <%-JSON.stringify(monthlyPatientCount[0].JULY)%>,
            <%-JSON.stringify(monthlyPatientCount[0].AUGUST)%>,
            <%-JSON.stringify(monthlyPatientCount[0].SEPTEMBER)%>,
            <%-JSON.stringify(monthlyPatientCount[0].OCTOBER)%>,
            <%-JSON.stringify(monthlyPatientCount[0].NOVEMBER)%>,
            <%-JSON.stringify(monthlyPatientCount[0].DECEMBER)%>]
        }
      ]
    };

    var areaChartOptions = {
      //Boolean - If we should show the scale at all
      showScale: true,
      //Boolean - Whether grid lines are shown across the chart
      scaleShowGridLines: false,
      //String - Colour of the grid lines
      scaleGridLineColor: "rgba(0,0,0,.05)",
      //Number - Width of the grid lines
      scaleGridLineWidth: 1,
      //Boolean - Whether to show horizontal lines (except X axis)
      scaleShowHorizontalLines: true,
      //Boolean - Whether to show vertical lines (except Y axis)
      scaleShowVerticalLines: true,
      //Boolean - Whether the line is curved between points
      bezierCurve: true,
      //Number - Tension of the bezier curve between points
      bezierCurveTension: 0.3,
      //Boolean - Whether to show a dot for each point
      pointDot: false,
      //Number - Radius of each point dot in pixels
      pointDotRadius: 4,
      //Number - Pixel width of point dot stroke
      pointDotStrokeWidth: 1,
      //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
      pointHitDetectionRadius: 20,
      //Boolean - Whether to show a stroke for datasets
      datasetStroke: true,
      //Number - Pixel width of dataset stroke
      datasetStrokeWidth: 2,
      //Boolean - Whether to fill the dataset with a color
      datasetFill: true,
      //String - A legend template
      //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
      maintainAspectRatio: true,
      //Boolean - whether to make the chart responsive to window resizing
      responsive: true
    };
    areaChart.Line(areaChartData, areaChartOptions);
  });
    /*
     * END DONUT CHART
     */

  function labelFormatter(label, series) {
    return '<div style="font-size:13px; text-align:center; padding:0.5px; color: #fff; font-weight: 600;">'
        + label
        + "<br>"
        + Math.round(series.percent) + "%</div>";
  }

  function showAdd() {
    document.getElementById("modal2").style.display = "block";
  }
  function showDate() {
    document.getElementById("immuDate").style.display = "inline-block";
    document.getElementById("addMore").style.display = "inline-block";
  }
 // function showSuccess() {
 //    alert("Success !!");
 // }
  function immuResult() {
    var e = document.getElementById("immuName");
    var immu = e.options[e.selectedIndex].value;
    var immuDate = document.getElementById("immuDate").value;
    document.getElementById("immuRes").innerHTML += immu + " : " + immuDate + "<br>";
    document.getElementById("immunization").value += immu +":"+ immuDate + ",";
  }
  function fhResult() {
    var e = document.getElementById("fhName");
    var fh = e.options[e.selectedIndex].value;
    document.getElementById("fhRes").innerHTML += fh + " | ";
    document.getElementById("family_history").value += fh + ",";
  }
  function resetForm() {
    document.getElementById("modal2").reset();
    document.getElementById("assessment").reset();
    document.getElementById("immuRes").innerHTML = "";
    document.getElementById("fhRes").innerHTML = "";
  }
  function currentAdmitted() {
    document.getElementById("showAdmitted").style.display = "block";
  }
  function showAccessment() {
    document.getElementById("assessment").style.display = "block";
  }
  function showTodo() {
    document.getElementById("showTodo").style.display = "block";
  }
  function linkAssessment(name) {
    document.getElementById('assessment').action = '/nurse/dashboard?assessmentPatient='+name+'';
  }
  function OPD() {
    document.getElementById('ShowOpd').style.display = 'block';
  }
  function WARD() {
    document.getElementById('ShowWard').style.display = 'block';
  }
  $(document).ready(function() {
      $(".select2").select2();
      $(".select1").select2();
      $("#example1").DataTable();
      $('#example2').DataTable();
      $('#example3').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": false,
      "autoWidth": true
    });
  });
  function validateForm() {
      $('#form').parsley().on('field:validated', function() {
        var ok = $('.parsley-error').length === 0;
        $('.bs-callout-info').toggleClass('hidden', !ok);
        $('.bs-callout-warning').toggleClass('hidden', ok);
      })
    };
</script>
