<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Profile Management</title>
  <% include ../partials/header.ejs %>
</head>
  <body class="hold-transition skin-fdpsh fixed sidebar-mini" onload="myFunction()"> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
    <div id="loader"></div> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
<div class="wrapper">

  <header class="main-header">
    <a href="dashboard" class="logo">
      <span class="logo-mini"><b><%= username[0].account_type.charAt(0).toUpperCase()%></b></span>
      <span class="logo-lg"><b><%= username[0].account_type.charAt(0).toUpperCase() + username[0].account_type.slice(1);%></b></span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="../dist/img/avatar2.png" class="user-image" alt="User Image">
              <span class="hidden-xs"><%=pInfo[0].name%></span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <img src="../dist/img/avatar2.png" class="img-circle" alt="User Image">
                <p>
                  <%=pInfo[0].name%> - <%= username[0].account_type.charAt(0).toUpperCase() + username[0].account_type.slice(1);%>
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <a href="profileManagement" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="../logout" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../dist/img/avatar2.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p><%=pInfo[0].name%></p>

        </div>
      </div>

      <ul class="sidebar-menu">
        <li><a href="dashboard"><img src="../icons/medicine.png" alt="dboard" height="20px;" width="20px;"> <span>Dashboard</span></a></li>
        <li><a href="patientManagement"><img src="../icons/patient.png" alt="patient" height="20px;" width="20px;"> <span>Patient Management</span></a></li>
        <li><a href="bedManagement"><img src="../icons/hospital-bed.png" alt="bed" height="20px;" width="20px;"> <span>Bed Management</span></a></li>
        <li class="active"><a href="profileManagement" target="_self"><img src="../icons/doctor.png" alt="doctor" height="20px;" width="20px;"> <span>Profile Management</span></a></li>
      </ul>
    </section>
  </aside>

  <div class="content-wrapper"  id="myDiv1"> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
    <section class="content-header">
      <h1>
        Profile Management
        <small>View and Update Profile</small>
      </h1>
    </section>

    <section class="content animate-bottom"> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
      <div class="row">
        <div class="col-md-3">

          <div class="box" style="border-top-color: #3e0901 !important;">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="../dist/img/avatar2.png" alt="User profile picture">
              <h3 class="profile-username text-center"><%=pInfo[0].name%></h3>
              <p class="text-muted text-center"><%= username[0].account_type.charAt(0).toUpperCase() + username[0].account_type.slice(1);%></p>
            </div>
          </div>

          <div class="box" style="border-top-color: #3e0901 !important;">
            <div class="box-header with-border">
              <h3 class="box-title">Basic Profile</h3>
            </div>

            <div class="box-body">
            <strong><i class="fa fa-info margin-r-5"></i> User Account No.</strong>
              <p class="text-muted"> <%= pInfo[0].account_id%> </p>
              <hr>
            <strong><i class="fa fa-user-plus margin-r-5"></i> Age</strong>
              <p class="text-muted"> <%= pInfo[0].age%> </p>
              <hr>

            <strong><i class="fa fa-user margin-r-5"></i> Sex</strong>
              <p class="text-muted"> <%= pInfo[0].sex%> </p>
              <hr>

            </div>
          </div>
        </div>

        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li><a href="#timeline" data-toggle="tab">Activity Timeline</a></li>
              <li><a href="#settings" data-toggle="tab" value="setting" onclick="show2()">Settings</a></li>
            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="timeline">
                <%for(var i=0; i < activityInfo.length; i ++){%>
                <ul class="timeline timeline-inverse">
                  <li class="time-label">
                      <span class="bg-red">
                        <%= moment(activityInfo[i].time).format('MMM-DD-YYYY HH:mm')%>
                      </span>
                  </li>

                  <li>
                    <% if (activityInfo[i].type == 'add'){ %>
                      <i class="fa fa-user-plus bg-green"></i>
                      <div class="timeline-item">
                    <%} else if (activityInfo[i].type == 'addUser'){ %>
                      <i class="fa fa-user-plus bg-green"></i>
                      <div class="timeline-item">
                    <%} else if (activityInfo[i].type == 'appointment'){ %>
                      <i class="fa fa-calendar bg-yellow"></i>
                      <div class="timeline-item">
                    <%} else if (activityInfo[i].type == 'approvedPrescription'){ %>
                      <i class="fa fa-share bg-green"></i>
                      <div class="timeline-item">
                    <%} else if (activityInfo[i].type == 'bed'){ %>
                      <i class="fa fa-bed bg-purple"></i>
                      <div class="timeline-item">
                    <%} else if (activityInfo[i].type == 'bedDischarge'){ %>
                      <i class="fa fa-sign-out bg-navy"></i>
                      <div class="timeline-item">
                    <%} else if (activityInfo[i].type == 'approvedLabRequest'){ %>
                      <i class="fa fa-share bg-green"></i>
                      <div class="timeline-item">
                    <%} else if (activityInfo[i].type == 'cancelLabRequest'){ %>
                      <i class="fa fa-reply bg-orange"></i>
                      <div class="timeline-item">
                    <%} else if (activityInfo[i].type == 'cancelPrescription'){ %>
                      <i class="fa fa-reply bg-orange"></i>
                      <div class="timeline-item">
                    <%} else if (activityInfo[i].type == 'confirmedLabRequest'){ %>
                      <i class="fa fa-share bg-green"></i>
                      <div class="timeline-item">
                    <%} else if (activityInfo[i].type == 'diagnosis'){ %>
                      <i class="fa fa-user-md bg-yellow"></i>
                      <div class="timeline-item">
                    <%} else if (activityInfo[i].type == 'initialAssessment'){ %>
                      <i class="fa fa-medkit bg-maroon"></i>
                      <div class="timeline-item">
                    <%} else if (activityInfo[i].type == 'labRequest'){ %>
                      <i class="fa fa-edit bg-purple"></i>
                      <div class="timeline-item">
                    <%} else if (activityInfo[i].type == 'log'){ %>
                      <i class="fa fa-check-circle bg-teal"></i>
                      <div class="timeline-item">
                    <%} else if (activityInfo[i].type == 'patientInfoEdit'){ %>
                      <i class="fa fa-check-circle bg-blue"></i>
                      <div class="timeline-item">    
                    <%} else if (activityInfo[i].type == 'prescription'){ %>
                      <i class="fa fa-share bg-orange"></i>
                      <div class="timeline-item">
                    <%} else if (activityInfo[i].type == 'removedUser'){ %>
                      <i class="fa fa-share bg-red"></i>
                      <div class="timeline-item">
                    <%} else if (activityInfo[i].type == 'settingsProfileManagement'){ %>
                      <i class="fa fa-edit bg-blue"></i>
                      <div class="timeline-item">
                    <%} else if (activityInfo[i].type == 'todo'){ %>
                      <i class="fa fa-tasks bg-green"></i>
                      <div class="timeline-item">
                    <%} else if (activityInfo[i].type == 'delTodo'){ %>
                      <i class="fa fa-remove bg-red"></i>
                      <div class="timeline-item">
                    <%} else if (activityInfo[i].type == 'urgentTodo'){ %>
                      <i class="fa fa-plus bg-orange"></i>
                      <div class="timeline-item">
                    <%} else if (activityInfo[i].type == 'generalTodo'){%>
                      <i class="fa fa-plus bg-green"></i>
                      <div class="timeline-item">
                    <%} else if (activityInfo[i].type == 'er'){ %>
                      <i class="fa fa-plus-square bg-red"></i>
                      <div class="timeline-item">
                    <%}%>
                      <h3 class="timeline-header"><%= activityInfo[i].remarks%></a></h3>
                    </div>
                  </li>
                </ul>
                <%}%>
              </div>

              <style>
                .parsley-error{
                  border-color: red;
                }
              </style>

              <div class="tab-pane" id="settings">
                <%- messages('message', locals) %>
                <form class="form-horizontal" method="POST" id="setting" data-parsley-validate=""  data-parsley-trigger="keyup">
                <form class="form-horizontal" method="POST" id="setting" style="display:none;" data-parsley-validate=""  data-parsley-trigger="keyup">
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Name</label>
                    <div class="col-xs-5">
                      <input class="form-control" type="text" id="name" name="name" placeholder="" value="<%= pInfo[0].name%>" data-parsley-required data-parsley-pattern="/^[A-Za-z\s .]+$/" data-parsley-validation-threshold="1">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputExperience" class="col-sm-2 control-label">Address</label>
                      <div class="col-xs-5">
                        <input class="form-control" type="text" id="address" name="address" placeholder="" value="<%= pInfo[0].address%>" data-parsley-required data-parsley-pattern="/^[0-9A-Za-z\s -/.]+$/" data-parsley-validation-threshold="1"><br>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="inputExperience" class="col-sm-2 control-label">Phone</label>
                      <div class="col-xs-5">
                        <input class="form-control" type="text" id="phone" name="phone" placeholder="" value="<%= pInfo[0].phone%>" data-parsley-required data-parsley-maxlength="11" data-parsley-type="number" data-parsley-validation-threshold="1"><br>
                      </div>
                  </div>
                  <!--Change PASSWORD -->
                  <div class="form-group">
                    <label for="inputExperience" class="col-sm-2 control-label">Current Password</label>
                      <div class="col-xs-5">
                        <input class="form-control" type="password" name="oldPass" data-parsley-required><br>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="inputExperience" class="col-sm-2 control-label">New Password</label>
                      <div class="col-xs-5">
                        <input class="form-control" type="password" id="newPass" name="newPass" data-parsley-trigger="keyup" data-parsley-validation-threshold="1"><br>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="inputExperience" class="col-sm-2 control-label">Re-Type Password</label>
                      <div class="col-xs-5">
                        <input class="form-control" type="password" id="confirmPass" name="confirmPass" data-parsley-trigger="keyup" data-parsley-equalto="#newPass" data-parsley-validation-threshold="1"><br>
                      </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-danger" onclick="check()"><i class="fa fa-save"></i> Save</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
<% include ../partials/footer.ejs %>
</body>
</html>

<script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": true
    });
  });
</script>
<script>
function seeMore() {
  var x = document.getElementById("seeMore");
  if (x.style.display === "none") {
      x.style.display = "block";
  } else {
      x.style.display = "none";
  }
}
  function show(){
    document.getElementById('logs').style = 'display:block;';
  }
  function show2() {
    document.getElementById('setting').style = 'display:block;';
  }
  //USEFUL SCRIPT do not DELETE(important) !!
  function check() {
    if (!document.getElementById('name').value) {
      document.getElementById('name').value = "<%= pInfo[0].name%>";
    }
    if (!document.getElementById('age').value) {
      document.getElementById('age').value = "<%= pInfo[0].age%>";
    }
    if (!document.getElementById('address').value) {
      document.getElementById('address').value = "<%= pInfo[0].address%>";
    }
    if (!document.getElementById('phone').value) {
      document.getElementById('phone').value = "<%= pInfo[0].phone%>";
    }
  }
  function validateUpdate() {
    $('#setting').parsley().on('field:validated', function() {
    var ok = $('.parsley-error').length === 0;
    $('.bs-callout-info').toggleClass('hidden', !ok);
    $('.bs-callout-warning').toggleClass('hidden', ok);
   })
  };
</script>
