<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Appointment Management</title>
<% include ../partials/header.ejs %>
</head>
<body class="hold-transition skin-fdpsh fixed sidebar-mini" onload="myFunction()"> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
<div id="loader" style="background-color: #3e0901 !important"></div> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
<div class="wrapper">

     <header class="main-header">
      <a href="../doctor/dashboard" class="logo">
        <span class="logo-mini"><b><%= username[0].account_type.charAt(0).toUpperCase()%></b></span>
        <span class="logo-lg"><b><%= username[0].account_type.charAt(0).toUpperCase() + username[0].account_type.slice(1);%></b></span>
      </a>
      <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="../dist/img/avatar04.png" class="user-image" alt="User Image">
                <span class="hidden-xs"><%= username[0].name %></span>
              </a>
              <ul class="dropdown-menu">
                <li class="user-header">
                  <img src="../dist/img/avatar04.png" class="img-circle" alt="User Image">
                  <p>
                    <%=username[0].name%> - <%= username[0].account_type.charAt(0).toUpperCase() + username[0].account_type.slice(1);%>
                  </p>
                </li>
                <li class="user-footer">
                  <div class="pull-left">
                    <a href="../doctor/profileManagement" class="btn btn-default btn-flat">Profile</a>
                  </div>
                  <div class="pull-right">
                    <a href='../logout' class="btn btn-default btn-flat">Sign out</a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <aside class="main-sidebar">
      <section class="sidebar">
        <div class="user-panel">
          <div class="pull-left image">
            <img src="../dist/img/avatar04.png" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
            <p><%= username[0].name %></p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
          </div>
        </div>

        <ul class="sidebar-menu">
          <li><a href="../doctor/dashboard" target="_self"><img src="../icons/medicine.png" alt="dboard" height="20px;" width="20px;"> <span>Dashboard</span></a></li>
          <li><a href="../doctor/bedManagement"><img src="../icons/hospital-bed.png" alt="bed" height="20px;" width="20px;"> <span>Bed Management</span></a></li>
          <li><a href="../doctor/patientManagement"><img src="../icons/patient.png" alt="patient" height="20px;" width="20px;"> <span>Patient Management</span></a></li>
          <li><a href="../doctor/outpatientManagement"><img src="../icons/volunteer.png" alt="volunteer" height="20px;" width="20px;"> <span>Outpatient Management</span></a></li>
          <li class="active"><a href="../doctor/appointmentManagement"><img src="../icons/notebook.png" alt="notebook" height="20px;" width="20px;"> <span>Appointment Management</span></a></li>
          <li><a href="../doctor/prescriptionManagement"><img src="../icons/prescription.png" alt="prescription" height="20px;" width="20px;"> <span>Prescription Management</span></a></li>
          <li><a href="../doctor/labRequestManagement"><img src="../icons/chemistry.png" alt="chemistry" height="20px;" width="20px;"> <span>Lab Request Management</span></a></li>
          <li><a href="../doctor/profileManagement"><img src="../icons/doctor.png" alt="doctor" height="20px;" width="20px;"> <span>Profile Management</span></a></li>
        </ul>
      </section>
    </aside>

      <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper"  id="myDiv1"> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
            <section class="content-header">
              <h1>
                Appointment Management
            <small>Control panel</small>
            </h1>
          </section>

        <!-- Main content -->
        <section class="content animate-bottom"> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
            <div class="row">
             <div class="col-xs-12">
               <div class="box" style="border-top-color: #3e0901 !important;">
                 <div class="box-header">
                    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal2">
                    <i class="fa fa-plus" data-target="#myModal2"></i> Add New Appointment</button>
                </div>
                 <div class="box-body">
                   <table id="example2" class="table table-bordered table-striped">
                          <thead>
                              <tr>
                                <th>counter</th>
                                <th>Patient Type</th>
                                <th>Name</th>
                                <th>Date and Time</th>
                                <th>Remarks</th>
                                <th>Action</th>
                              </tr>
                          </thead>
                       <tbody>
                          <%for (var i = 0; i < appointmentDetails.length; i++) {%>
                            <tr>
                              <td><%=i+1%></td>
                              <td><%=appointmentDetails[i].patient_type%></td>
                              <td><%=appointmentDetails[i].name%></td>
                              <td><%= moment(appointmentDetails[i].appointment_timestamp).format('MMM DD YYYY HH:mm A')%></td>
                              <td><%=appointmentDetails[i].remarks%></td>
                              <form action="/doctor/appointmentManagement?appointmentId=<%=appointmentDetails[i].appointment_id%>&appointmentPatientName=<%=appointmentDetails[i].name%>" method="post">
                                <td><button name="sub" class="btn btn-default" value="cancel" type="submit"><i class="fa fa-times"></i> Cancel</button></td>
                              </form>
                            </tr>
                          <%}%>
                       </tbody>
            </table>
         </div>
       </div>
     </div>
   </div>
</section>
</div>

<div class="modal fade" id="myModal2" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Appointment</h4>
      </div>
    <form name="setAppointmentForm" class="horizontal" method="post" onsubmit="successAlert()">
      <div class="modal-body">
          <div class="form-group">
            <label for="appointmentName">Patient Name: </label>
            <select id="appointmentName" name="appointmentPatientID" class="select2 form-control" style="width:100%;">
              <%for(var i = 0; i < ap.length; i++){%>
                <option value="<%= ap[i].patient_id%>,<%= ap[i].name%>"><%= ap[i].name%></option>
              <%}%>
            </select>
          </div>
          <div class="form-group">
            <label for="date1">Date: </label>
            <input id="date1" type="datetime-local" name="dateNtime" min="2000-10-06T00:00:00" max="9000-11-16T21:25:33" class="form-control" required>            
          </div>
          <div class="form-group">
            <label id="appointmentText">Appointment Details: </label>
            <textarea name="appointmentRemarks" rows="12" cols="80" required class="form-control"></textarea>
          </div>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
          <button type="submit" name="sub" value="appointment" class="btn btn-primary"><i class="fa fa-check"></i> Confirm</button>
        </div>
    </form>
    </div>
  </div>
</div>

<% include ../partials/footer.ejs %>

<script src="/notif-doctor.js"></script>
<script type="text/javascript">
$(function () {
 $("#example1").DataTable();
 $('#example2').DataTable({
   "paging": true,
   "lengthChange": true,
   "searching": true,
   "ordering": true,
   "info": true,
   "autoWidth": true
 });
});

// function showAppointmentForm() {
//   document.getElementById("showAppointmentForm").style.display = "block";
// }
$(document).ready(function() {
  $(".select2").select2();
});
</script>

  </body>
</html>
