<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Prescription Management</title>
    <% include ../partials/header.ejs %>
</head>
  <body class="hold-transition skin-fdpsh fixed sidebar-mini" onload="myFunction()"> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
   <div id="loader" style="background-color: #3e0901 !important"></div> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
<div class="wrapper">

  <header class="main-header">
  <a href="../doctor/dashboard" class="logo">
      <span class="logo-mini"><b>D</b></span>
      <span class="logo-lg"><b>Doctor</b></span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li class="dropdown user user-menu">
              <!-- Menu Toggle Button -->
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <!-- The user image in the navbar-->
                <img src="../dist/img/avatar04.png" class="user-image" alt="User Image">
                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                <span class="hidden-xs"><%= username[0].name %></span>
              </a>
              <ul class="dropdown-menu">
                <!-- The user image in the menu -->
                <li class="user-header">
                  <img src="../dist/img/avatar04.png" class="img-circle" alt="User Image">
                  <p>
                    <%=username[0].name%> - <%= username[0].account_type.charAt(0).toUpperCase() + username[0].account_type.slice(1);%>
                  </p>
                </li>
                <!-- Menu Body -->
                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-left">
                    <a href="../doctor/profileManagement" class="btn btn-default btn-flat">Profile</a>
                  </div>
                  <div class="pull-right">
                    <a href='../logout' class="btn btn-default btn-flat">Sign out</a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
    </nav>
  </header>

  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../dist/img/avatar04.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p><%= username[0].name %></p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>

        <ul class="sidebar-menu">
          <li><a href="../doctor/dashboard" target="_self"><img src="../icons/medicine.png" alt="dboard" height="20px;" width="20px;"> <span>Dashboard</span></a></li>
          <li><a href="../doctor/bedManagement"><img src="../icons/hospital-bed.png" alt="bed" height="20px;" width="20px;"> <span>Bed Management</span></a></li>
          <li><a href="../doctor/patientManagement"><img src="../icons/patient.png" alt="patient" height="20px;" width="20px;"> <span>Patient Management</span></a></li>
          <li><a href="../doctor/outpatientManagement"><img src="../icons/volunteer.png" alt="volunteer" height="20px;" width="20px;"> <span>Outpatient Management</span></a></li>
          <li><a href="../doctor/appointmentManagement"><img src="../icons/notebook.png" alt="notebook" height="20px;" width="20px;"> <span>Appointment Management</span></a></li>
          <li class="active"><a href="../doctor/prescriptionManagement"><img src="../icons/prescription.png" alt="prescription" height="20px;" width="20px;"> <span>Prescription Management</span></a></li>
          <li><a href="../doctor/labRequestManagement"><img src="../icons/chemistry.png" alt="chemistry" height="20px;" width="20px;"> <span>Lab Request Management</span></a></li>
          <li><a href="../doctor/profileManagement"><img src="../icons/doctor.png" alt="doctor" height="20px;" width="20px;"> <span>Profile Management</span></a></li>
        </ul>
    </section>
  </aside>

      <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper"  id="myDiv1"> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
    <section class="content-header">
      <h1>Prescription Management</h1>
    </section>

        <!-- Main content -->
    <section class="content animate-bottom"> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
        <div class="row">
         <div class="col-xs-12">
           <div class="box" style="border-top-color: #3e0901 !important;">
             <div class="box-header">
                 <h3 class="box-title">Pending Prescriptions</h3>
             </div>
             <div class="box-body">
               <table id="table2" class="table table-bordered table-striped">
                  <thead>
                      <tr>
                        <th>No.</th>
                        <th>Date</th>
                        <th>Patient Type</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Medications</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                   </thead>
                   <tbody>
                      <%for (var i = 0; i < prescriptionDetails.length; i++) {%>
                        <tr>
                          <td><%=i+1%></td>
                          <td><%=moment(new Date(prescriptionDetails[i].creation_stamp)).format('YYYY-MM-DD HH:mm:ss')%></td>
                          <td><%=prescriptionDetails[i].patient_type%></td>
                          <td><%=prescriptionDetails[i].name%></td>
                          <td><%=prescriptionDetails[i].age%></td>
                          <td>
                              <%
                          var vitals = prescriptionDetails[i].medications.split('\n');
                          for(var l=0; l < 5; l++){ %>
                            <%=vitals[l]%><br>
                        <%}%>
                            </td>
                          <td><%=prescriptionDetails[i].STATUS.charAt(0).toUpperCase() + prescriptionDetails[i].STATUS.slice(1);%></td>
                          <form action="/doctor/prescriptionManagement?prescriptionId=<%=prescriptionDetails[i].prescription_id%>&prescriptionPatientName=<%=prescriptionDetails[i].name%>" method="post">
                              <td align="left"><button class="btn btn-danger btn-sm" type="submit"><i class="fa fa-remove"></i> Cancel</button></td>
                          </form>
                        </tr>
                      <%}%>
                   </tbody>
                </table>
            </div>

   </div>
 </div>
</div>

<!-- CONFIRMED -->
<div class="row">
 <div class="col-xs-12">
   <div class="box" style="border-top-color: #3e0901 !important;">
     <div class="box-header">
       <h3 class="box-title">Confirmed Prescriptions</h3>
     </div>
     <div class="box-body">
       <table id="example1" class="table table-bordered table-striped">
          <thead>
            <th>No.</th>
            <th>Date</th>
            <th>Patient Type</th>
            <th>Name</th>
            <th>Age</th>
            <th>Medications</th>
            <th>Status</th>
           </thead>
           <tbody>
  <%for (var i = 0; i < confirmedprescriptionSQL.length; i++) {%>
    <tr>
      <td><%=i+1%></td>
      <td><%=moment(new Date(confirmedprescriptionSQL[i].creation_stamp)).format('YYYY-MM-DD HH:mm:ss')%></td>
      <td><%=confirmedprescriptionSQL[i].patient_type%></td>
      <td><%=confirmedprescriptionSQL[i].name%></td>
      <td><%=confirmedprescriptionSQL[i].age%></td>
      <td>
          <%
      var vitals = confirmedprescriptionSQL[i].medications.split('\n');
      for(var l=0; l < 5; l++){ %>
        <%=vitals[l]%><br>
    <%}%>
        </td>
      <td style="color:green; font-weight: bold;">Confirmed</td>
    </tr>
    <%}%>
 </tbody>
</table>
</div>

</div>
</div>
</div>
      </section>
    </div>

<% include ../partials/footer.ejs %>
<script src="/timeout.js"></script>
<script src="/notif-doctor.js"></script>
<script type="text/javascript">
idleTimer();
$(function () {
 $("#example1").DataTable();
 $('#table2').DataTable({
   "paging": true,
   "lengthChange": true,
   "searching": true,
   "ordering": true,
   "info": true,
   "autoWidth": true
 });
});
      function showAppointmentForm() {
      document.getElementById("showAppointmentForm").style.display = "block";
      }
  </script>

  </body>
  </html>
