<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Patient Management</title>
        <% include ../partials/header.ejs %>
  <style>
      .datepicker {
        z-index: 1600 !important;
      }
  </style>
</head>
<body class="hold-transition skin-fdpsh sidebar-mini fixed" onload="myFunction()"> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
<div id="loader"></div> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
<div class="wrapper">

  <header class="main-header">
    <a href="dashboard" class="logo">
      <span class="logo-mini"><b><%= username[0].account_type.charAt(0).toUpperCase()%></b></span>
      <span class="logo-lg"><b><%= username[0].account_type.charAt(0).toUpperCase() + username[0].account_type.slice(1);%></b></span>
    </a>

    <nav class="navbar navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="../dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs"><%= username[0].name %></span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <img src="../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                <p>
                  <%= username[0].name %> - <%= username[0].account_type.charAt(0).toUpperCase() + username[0].account_type.slice(1);%>
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <a href="profileManagement" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="../logout" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar">

    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p><%= username[0].name %></p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>

      <ul class="sidebar-menu">
        <li><a href="dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
        <li class="active"><a href="patientManagement" target="_self"><i class="fa fa-users"></i> <span>Patient Management</span></a></li>
        <li><a href="bedManagement"><i class="fa fa-bed"></i> <span>Bed Management</span></a></li>
        <li><a href="userAccountsManagement"><i class="fa fa-user"></i> <span>User Accounts Management</span></a></li>
        <li><a href="profileManagement"><i class="fa fa-info"></i> <span>Profile Management</span></a></li>
      </ul>
    </section>
  </aside>

  <div class="content-wrapper"  id="myDiv1"> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
    <section class="content-header">
      <h1>
        Patient Management
        <small>List of Registered Patients</small>
      </h1>
    </section>

    <section class="content animate-bottom"> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
       <div class="row">
        <div class="col-xs-12">
          <div class="box" style="border-top-color: #3e0901 !important;">
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Patient Type</th>
                  <th>Name</th>
                  <th>Age</th>
                  <th>Gender</th>
                  <th>Blood Type</th>
                </tr>
                </thead>
                <tbody>
                  <%
                  for(var i=0; i <p.length; i++){
                      var b = new Date(p[i].birth_date);
                  %>
                  <tr>
                    <td><%= i%></td>
                    <td><%= p[i].patient_type %></td>
                    <td><%= p[i].name %></td>
                    <td><%= p[i].age %></td>
                    <td><%= p[i].sex %></td>
                    <td><%= p[i].blood_type %></td>
                  </tr>
                  <%}%>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

<% include ../partials/footer.ejs %>

<script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": true
    });
  });
</script>

</body>
</html>
